/**************************
***************************
**                       **
**   TABLE OF CONTENTS   **
**                       **
***************************
**************************/
 

/* - Core theme */
/* -- Core elements (html/body/etc.) */
/* -- Navbar */
/* -- Main section */

/* - Common theme elements */
/* -- Lists */
/* --- Interface lists */
/* --- Table lists */
/* ---- Things within table lists (e.g. icons) */

/* - Page types (with different themes) */
/* -- Regular pages */
/* --- Sections */
/* --- Text element styles */
/* ---- Headings */

/* - To sort */
 
/**************************/





/**************************
***************************
**                       **
**   THE STYLES BEGIN    **
**                       **
***************************
**************************/


/* - Core theme */

/* -- Core elements (html/body/etc.) */

html {
	font-size: 18px;
	/* Hopefully this works OK, I'm basing it on
	   https://stackoverflow.com/questions/28678542/how-to-change-bootstraps-global-default-font-size
	*/
}

/* -- Links */

a:hover {
	text-decoration: none;
}

/* -- Navbar */


.navbar {
	background-color: #1600ff;
}

.navbar a,
.navbar a:hover,
.navbar a:active,
.navbar a:visited {
	color: white;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-brand .loo_roll {
	position: relative;
	top: 2px;
	margin-right: 3px;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* -- Main section */

main {
	margin-top: 3rem;
	margin-bottom: 2rem;
}



/* - Common theme elements */

/* -- Lists */

/* --- Interface lists */

ul.interface_list {
	font-weight: bold;
	font-size: 1.111em;
}

/* --- Table lists */

.table_list a:hover {
	text-decoration: none;
}

/* ---- Things within table lists (e.g. icons) */

.icon_s {
	height: 17px;
    vertical-align: baseline;
    position: relative;
    top: 2px;
    padding-right: 3px;
}



/* - Page types (with different themes) */

/* -- Regular pages */

/* --- Sections */

.regular_page section {
	margin-bottom: 2rem;
}

/* --- Text element styles */

/* ---- Headings */

h1 {
	font-weight: bold;
	font-size: 1.5555rem;
	margin-bottom: 1rem;
}



/* - Specific pages */

/* -- Store info */

.store_location_name,
h1 .store_location_name {
	font-weight: normal;
}

.label_s {
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.address_s {
	margin-top: 0.3rem; /* By my ruler, this is the equivalent of 
						the 0.2rem margin-bottom that .label_s 
						normally has, compensating for the smaller 
						line-height */
	line-height: 1.3rem;
}

/* - To sort */