<!DOCTYPE html>
<html>
	<head>
		
	    <title>
	    	AssWipr
	    </title>
	    {% include 'includes/favicon.html' %}
	    
	    <base href="{{ base_url() }}/"/>
	    
	    {% include 'includes/head-includes.html' %}
	    
	</head>
	<body>
		
		<nav class="navbar navbar-expand-md">
			<div class="container">
				<a class="navbar-brand" href="/">
					<span class="loo_roll">
						🧻
					</span>
					AssWipr
				</a>
				<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
					<span class="navbar-toggler-icon">
					</span>
				</button>
				<!--
				<div class="collapse navbar-collapse" id="main-navigation">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
					</ul>
				</div>
				-->
			</div>
		</nav>

		<main class="regular_page container">
			
			<section>
				<h1>
					Find available prices for a product:
				</h1>
				<ul class="interface_list">
					{% for product_type in product_types %}
					<li>
						<a href="#">
							{{ product_type }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</section>
			
			<section>
				<h1>
					Report availability of a product:
				</h1>
				<ul class="interface_list">
					<li>
						<a href="#">
							🧻 &nbsp; Loo roll
						</a>
					</li>
					<li>
						<a href="#">
							🤧 &nbsp; Tissues
						</a>
					</li>
				</ul>
			</section>
			
		</main>
		
		<footer>
			
		</footer>
		
		<!-- Scripts and suchlike -->
	    {% include 'includes/body-includes.html' %}
		
	</body>
</html>